<div class="box">
  <div class="title"><%= drawing.title %></div>
    <% if drawing.picture.attached? %>
      <%= image_tag drawing.picture %>
    <% end %>
  <%= drawing.notes.html_safe %>
  <hr>
  <div class="tags">
    <%= render drawing.tags %>
  </div>
</div>
