<div class="box">
  <div class="columns is-vcentered">
    <div class="column is-one-fifth has-text-centered">
      <h1 class="title">Hello!</h1>
      <%= image_tag "bio.jpg" %>
    </div>
    <div class="column">
      <p>
        Welcome all! I go by Tumbleweed, Tumble for short; though I don’t really mind what you call me.<br>
        Thanks for visiting my site! It’s still a major W.I.P., if you can’t tell, but I’m getting there! :3
      </p>
      <p>
        Hope to see you again!
      </p>  
    </div>
  </div>
</div>