<h1>Tags</h1>

<div class="field is-grouped is-grouped-multiline">
  <% @tags.each do |tag| %>
    <div class="control">
      <div class="tags has-addons">
        <%= link_to tag.name, tag_path(tag), class: 'tag' %>
        <span class="tag is-info"><%= tag.taggings_count %></span>
      </div>
    </div>
  <% end %>
</div>
