// Place all the styles related to the Drawings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.file-name {
    background-color: #ffffff;
}

.thumb {
    max-width: 128px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}